<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <footer class="footer">
      <div class="container">
        <p class="test-muted text-center">
          <a href="https://compro.miu.edu" target="_blank">
            <img
              src="../../assets/images/footer_image.png"
              height="80"
              alt="MIU Compro"
            />
          </a>
          <br />
          <small class="text black-50 text-center"
            >&copy; 2022 Maharishi International University. All Rights
            Reserved.
          </small>
        </p>
      </div>
    </footer>
  </body>
</html>
