<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="w3-light-grey">
    <div class="w3-content" style="max-width: 1600px">
      <header class="w3-display-container w3-wide" id="home">
        <img
          class="w3-image"
          src="https://www.w3schools.com/w3images/jane.jpg"
          alt="Fashion Blog"
          width="1600"
          height="860"
        />
        <div class="w3-display-left w3-padding-large">
          <h1 class="w3-text-white">Sunil's</h1>
          <h1 class="w3-jumbo w3-text-white w3-hide-small">
            <b>Music Library</b>
          </h1>
        </div>
      </header>
    </div>
  </body>
</html>
