
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}

.w3-image{
    max-width:100%;
    height:auto
}
img{vertical-align:middle}

a{color:inherit}

.w3-display-left{
    position:absolute;
    top:50%;
    left:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(-0%,-50%)
}
.w3-display-right{
    position:absolute;
    top:50%;right:0%;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%)
}


.w3-text-white,.w3-hover-text-white:hover{color:#fff!important}

.w3-jumbo{
    font-size:64px!important}
.w3-padding-large{
    padding:12px 24px!important}

.w3-wide{letter-spacing:4px}

.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}

h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
